p{
    color: blue;
    font-size: 10px;
}
button{
    padding: 10px;
    border-radius: 6px;
}

a{
    color:rgba(233, 10, 77, 0.7);
    text-decoration: none;
}

a:hover{
    color: mediumaquamarine;
}