a{
    color: Red;
}
a:hover{
    color: rgba(21, 255, 10, 0.7);
}

.negrito{
    font-weight: bold;
}

.amarelo{
    color:yellow;
}
.vermelho{
    color:red;
}
.verde{
    color:green;
}

.azul{
    color:blue;
}
.roxo{
    color:purple;
}
.laranja{
    color:orange;
}
.laranja2{
    color: orangered;
}